.single-question {
    padding: 1rem 0;
    border-bottom: 2px solid #232e3d;
}
.single-question header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.75rem;
}
.single-question h3 {
    color: white;
}
.single-question svg {
    transition: all 0.3s;
    cursor: pointer;
    color: white;
}
.single-question p {
    color: #617184;
}
